.my-time-control {
    -base-color: blue;
    -fx-background-color: white;
}

.my-time-control:mandatory .editable-time-field {
    -fx-font-family: 'DigitalDisplay';
    -fx-background-color: red;
    -fx-text-fill: yellow;
    -fx-alignment: center;
    -fx-font-size: 22pt;
}

.my-time-control .editable-time-field {
    -fx-font-family: 'DigitalDisplay';
    -fx-background-color: black;
    -fx-text-fill: yellow;
    -fx-alignment: center;
    -fx-font-size: 22pt;
}

.my-time-control .caption-label {
    -fx-fill: pink;
}
